<!DOCTYPE html>
<html>
<head>
    <%= stylesheet_link_tag 'forms', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
    <div class="centered-container">
        <%= image_tag 'main-logo.png', alt: 'Quad Logo', class: 'logo' %>
        <h1>Welcome Back</h1>
        <p class="sign-in-text">Sign In</p>
        <p class="notice"><%= flash[:notice] %></p>
        <p class="alert"><%= flash[:alert] %></p>
        <p class="error"><%= flash[:error] %></p>
        <%= form_with url: login_path, scope: :user do |form| %>
            <%= form.email_field :email, placeholder: 'Enter your crimson email', autofocus: true, required: true, class: 'text-input' %>
            <%= form.password_field :password, placeholder: 'Password', required: true, class: 'text-input' %>
            <%= form.submit 'Log In', class: 'primary-button' %>
            <div class='parent'>
              <div class='child'>
                <%= form.label :remember_me %>
                <%= form.check_box :remember_me %>
              </div>
              <div class='child'>
                Don't have an account? <%= link_to 'sign up', sign_up_path %>
              </div>
            </div>
        <% end %>
    </div>
</body>
</html>
