<!DOCTYPE html>
<html>
<head>
    <title>Welcome back to Quad</title>
    <%= stylesheet_link_tag 'login', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
    
    <div class="login-container">
        <%= image_tag 'main-logo.png', alt: 'Quad Logo', class: 'logo' %> <!-- Replace 'quad-logo.png' with your actual logo image -->
        <h1>Welcome back to Quad</h1>
        <p class="alert"><%= flash[:alert] %></p>
        <p class="sign-in-text">sign in.</p>
        <%= form_with url: login_path, scope: :user do |form| %>
            <%= form.email_field :email, placeholder: 'Enter your crimson email', autofocus: true, required: true, class: 'email-input' %>
            <%= form.password_field :password, placeholder: 'Password', required: true, class: 'password-input' %>
            <%= form.submit 'Log In', class: 'login-button' %>
        <% end %>
        <div class="signup-link">
            don't have an account? <%= link_to 'sign up', sign_up_path %>
        </div>
    </div>
</body>
</html>