<!DOCTYPE html>
<html>
<head>
    <title>Welcome back to Quad</title>
    <%= stylesheet_link_tag 'forms', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
    <div class="centered-container">
        <%= image_tag 'main-logo.png', alt: 'Quad Logo', class: 'logo' %>
        <h1>Welcome back to Quad</h1>
        <p class="notice"><%= flash[:notice] %></p>
        <p class="alert"><%= flash[:alert] %></p>
        <p class="error"><%= flash[:error] %></p>
        <p class="sign-in-text">Sign In</p>
        <%= form_with url: login_path, scope: :user do |form| %>
            <%= form.email_field :email, placeholder: 'Enter your crimson email', autofocus: true, required: true, class: 'text-input' %>
            <%= form.password_field :password, placeholder: 'Password', required: true, class: 'text-input' %>
            <div>
              <%= form.label :remember_me %>
              <%= form.check_box :remember_me %>
            </div>
            <%= form.submit 'Log In', class: 'primary-button' %>
        <% end %>
        <div class="signup-link">
            don't have an account? <%= link_to 'sign up', sign_up_path %>
        </div>
    </div>
</body>
</html>
