<%= link_to listing_path(listing), class: "listing-link" do %>
  <div class="box">
    <% if listing.photos.attached? %>
      <% listing.photos.each do |photo| %>
        <%= image_tag(photo, alt: "#{listing.title} image", class: "box-image") %>
      <% end %>
    <% else %>
      <%= image_tag 'shoes-example.jpeg', alt: 'Placeholder image', class: 'box-image' %>
    <% end %>

    <div class="listing-title">
      <%= listing.title %>
    </div>

    <div class="listing-status">
      <%= listing.status.downcase %>
    </div>
  </div>
<% end %>
