<div class="box">
  <%= link_to listing_path(listing) do %>
    <% if listing.photos.attached? %>
      <% listing.photos.each do |photo| %>
        <%= image_tag(photo, alt: "#{listing.title} image", class: "box-image") %>
      <% end %>
    <% else %>
      <%= image_tag 'shoes-example.jpeg', alt: 'Placeholder image', class: 'box-image' %>
    <% end %>
    <h3><%= listing.title %></h3>
    <h4><%= listing.status.upcase %></h4>
  <% end %>
</div>
