<%= stylesheet_link_tag 'index', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="header">
  <%= image_tag 'main-logo.png', alt: 'Quad Logo', class: 'logo' %>
  <!-- You can include admin's name or change it to a generic title -->
  <div class="user-name">
    <h1>Listings</h1>
  </div>
  <div class="dropdown">
  <button class="dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= image_tag 'menu-icon.png', alt: 'Menu' %>
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu">
    <%= button_to 'Create New Listing', listings_new_path, method: :get, class: 'dropdown-item' %>
    <%= button_to 'Account Settings', account_settings_path, method: :get, class: 'dropdown-item' %>
    <%= button_to 'Sign Out', logout_path, method: :delete, class: 'dropdown-item' %>
  </div>
</div> 
  <!-- Search container -->
  <div class="search-container">
    <%= form_tag(listings_path, method: :get) do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search by name", class: "search-field" %>
      <%= submit_tag "Search", name: nil, class: "search-button" %>
    <% end %>
  </div>
</div>

<div class="content">
  <% @listings.each do |listing| %>
    <div class="box">
      <%= render partial: 'listings/listing', locals: {listing: listing} %>
      <% if listing.status == "Unverified" %>
        <%= button_to "VERIFY LISTING", listing_path(listing.id), method: :put, class: 'verify-button' %>
        <%= button_to "DELETE LISTING", listing_path(listing.id), method: :delete, class: 'verify-button' %>
      <% end %>
    </div>
  <% end %>
</div>

<%= render 'shared/flashes' %>
