<!DOCTYPE html>
<html>
<head>
  <title>Listings</title>
  <style>
    body {
      text-align: center;
      font-family: Arial, sans-serif;
    }

    h1 {
      color: blue;
    }

    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 20px;
    }

    .box {
      width: 150px;
      height: 150px;
      background-color: #f0f0f0;
      border: 1px solid #ccc;
      margin: 10px;
    }

    button {
      padding: 10px 20px;
      background-color: purple;
      color: white;
      border: none;
      cursor: pointer;
    }
  </style>
</head>
<body>
  <h1>
  <%= @user.first_name%> 
  <%=@user.last_name%>
  </h1>

  <p class="notice"><%= flash[:notice] %></p>
  <p class="alert"><%= flash[:alert] %></p>
  <p class="error"><%= flash[:error] %></p>

  <h2>Listings</h2>
  <% @listings.each do |listing| %>
    <%= render partial: 'listings/listing', locals: {listing: listing} %>
  <% end %>
  
 

  <div class="add_listing">
    <%= button_to "+ ADD LISTING", listings_new_path, method: :get%>
  </div>
  <%= button_to "Profile", account_path, method: :get%>
</body>
</html>
