<!DOCTYPE html>
<html>
<head>
    <title>Create Account</title>
    <%= stylesheet_link_tag 'forms', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
    <div class="centered-container">
        <%= image_tag 'main-logo.png', alt: 'Quad Logo', class: 'logo' %>
        <h1>Create Account</h2>
        <br>
        <%= form_with model: @user, url:sign_up_path do |form| %>
            <%= render partial: "shared/form_errors", locals: { object: form.object } %>
            <%= form.text_field :first_name, placeholder: 'First name', id: :user_first_name, autofocus: true, required: true, class: 'text-input' %>
            <%= form.text_field :last_name, placeholder: 'Last name', id: :user_last_name, required: true, class: 'text-input' %>
            <%= form.email_field :email, placeholder: 'Crimson email', id: :user_email, required: true, class: 'text-input' %>
            <%= form.telephone_field :phone_number, placeholder: 'Phone number', id: :user_phone_number, required: true, class: 'text-input' %>
            <%= form.text_field :username, placeholder: 'Username', id: :user_username, required: true, class: 'text-input' %>
            <%= form.password_field :password, placeholder: 'Password', id: :user_password, required: true, class: 'text-input' %>
            <%= form.password_field :password_confirmation, placeholder: 'Confirm password', id: :user_password, required: true, class: 'text-input' %>

            <%= form.submit 'Sign Up', class: 'primary-button' %>
        <% end %>
    </div>
</body>
</html>
