<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>
  <%= stylesheet_link_tag 'index', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <div class="header">
    <%= image_tag 'main-logo.png', alt: 'Quad Logo', class: 'logo' %>

    <div class="user-name">
      <h1>
        <%= @user.first_name.capitalize %> 
        <%= @user.last_name.capitalize %>
      </h1>
    </div>

    <div class="dropdown">
      <button class="dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= image_tag 'menu-icon.png', alt: 'Menu' %>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu">
        <%= button_to 'Create New Listing', listings_new_path, method: :get, class: 'dropdown-item' %>
        <%= button_to 'Account Settings', account_settings_path, method: :get, class: 'dropdown-item' %>
        <%= button_to 'Sign Out', logout_path, method: :delete, class: 'dropdown-item' %>
      </div>
    </div> 
  </div>

  <p class="alert"><%= flash[:alert] %></p>
  <p class="error"><%= flash[:error] %></p>
 
  <h2>Your Listings</h2>
  <div class="sorting">
    Sort by:
    <%= link_to 'Title (A-Z)', account_user_path(sort: 'title', direction: 'asc') %>
    <%= link_to 'Title (Z-A)', account_user_path(sort: 'title', direction: 'desc') %>
    <%= link_to 'Price (Low to High)', account_user_path(sort: 'listing_price', direction: 'asc') %>
    <%= link_to 'Price (High to Low)', account_user_path(sort: 'listing_price', direction: 'desc') %>
    <%= link_to 'Date (Oldest to Newest)', account_user_path(sort: 'created_at', direction: 'asc') %>
    <%= link_to 'Date (Newest to Oldest)', account_user_path(sort: 'created_at', direction: 'desc') %>
  </div>

  <div class="content">
    <% @listings.each do |listing| %>
      <div class="box">
        <%= render partial: 'listings/listing', locals: {listing: listing} %>
      </div>
    <% end %>
  </div>

  <%= render 'shared/flashes' %>

</body>
</html>
