<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>
  <%= stylesheet_link_tag 'index', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <div class="header">
    <%= image_tag 'main-logo.png', alt: 'Quad Logo', class: 'logo' %>

    <div class="user-name">
      <h1>
        <%= @user.first_name.capitalize %> 
        <%= @user.last_name.capitalize %>
      </h1>
    </div>

    <div class="dropdown">
      <button class="dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= image_tag 'menu-icon.png', alt: 'Menu' %>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu">
        <%= button_to 'Create New Listing', listings_new_path, method: :get, class: 'dropdown-item' %>
        <%= button_to 'Account Settings', account_settings_path, method: :get, class: 'dropdown-item' %>
        <%= button_to 'Sign Out', logout_path, method: :delete, class: 'dropdown-item' %>
      </div>
    </div> 
  </div>

  <p class="alert"><%= flash[:alert] %></p>
  <p class="error"><%= flash[:error] %></p>
 
  <h2>Your Listings</h2>
  <div class="sorting">
    <%= form_with url: account_user_path, method: :get, id: 'sort_form' do |form| %>
      <%= form.select :sort_by, options_for_select([
        ['Date (Newest to Oldest)', 'createdat_desc'],
        ['Date (Oldest to Newest)', 'createdat_asc'],
        ['Title (A-Z)', 'title_asc'],
        ['Title (Z-A)', 'title_desc'],
        ['Price (Low to High)', 'listingprice_asc'],
        ['Price (High to Low)', 'listingprice_desc'] 
      ], params[:sort_by]), {}, onchange: 'this.form.submit()' %>

      <%= form.check_box :unverified_only, checked: params[:unverified_only] == '1', onchange: 'this.form.submit()' %>
      <%= form.label :unverified_only, 'Show Unverified Listings Only' %>
    <% end %>
  </div>

  <div class="content">
    <% @listings.each do |listing| %>
      <div class="box">
        <%= render partial: 'listings/listing', locals: {listing: listing} %>
      </div>
    <% end %>
  </div>

  <%= render 'shared/flashes' %>

</body>
</html>
