<!DOCTYPE html>
<html>
<head>
  <title>Admin Profile</title>
  <%= stylesheet_link_tag 'index', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <div class="header">
    <%= image_tag 'main-logo.png', alt: 'Quad Logo', class: 'logo' %>

    <div class="user-name">
      <h1>
        <%= @user.first_name.capitalize %> 
        <%= @user.last_name.capitalize %>
      </h1>
    </div>
    <div class="dropdown">
      <button class="dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= image_tag 'menu-icon.png', alt: 'Menu' %>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu">
        <%= button_to 'Create New Listing', listings_new_path, method: :get, class: 'dropdown-item' %>
        <%= button_to 'Account Settings', account_settings_path, method: :get, class: 'dropdown-item' %>
        <%= button_to 'Sign Out', logout_path, method: :delete, class: 'dropdown-item' %>
      </div>
    </div> 
    <div class="search-container">
      <%= form_tag(listings_path, method: :get) do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search by name", class: "search-field" %>
      <%= submit_tag "Search", name: nil, class: "search-button" %>
  <% end %>
</div>
  </div>

  <p class="alert"><%= flash[:alert] %></p>
  <p class="error"><%= flash[:error] %></p>

  <h2>All Listings</h2>
  <%= form_with url: account_admin_path, method: :get, id: 'sort_form' do |form| %>
    <div class="sorting">
      <%= form.select :sort_by, options_for_select([
        ['Date (Newest to Oldest)', 'createdat_desc'],
        ['Date (Oldest to Newest)', 'createdat_asc'],
        ['Title (A-Z)', 'title_asc'],
        ['Title (Z-A)', 'title_desc'],
        ['Price (Low to High)', 'listingprice_asc'],
        ['Price (High to Low)', 'listingprice_desc'] 
      ], params[:sort_by]), {}, onchange: 'this.form.requestSubmit()' %>
    </div>

    <div class="toggle">
      <%= form.check_box :unverified_only, checked: params[:unverified_only] == '1', onchange: 'this.form.submit()' %>
      <%= form.label :unverified_only, 'Show Unverified Listings Only' %>
    </div>
  <% end %>

  <div class="content">
    <% @listings.each do |listing| %>
      <div class="box">
        <%= render partial: 'listings/listing', locals: {listing: listing} %>
        <% if listing.status == "Unverified"%>
        <%= button_to "VERIFY LISTING", listing_path(listing.id), method: :put, class: 'verify-button' %>
        <%= button_to "DELETE LISTING", listing_path(listing.id), method: :delete, class: 'verify-button' %>
        <% end %>
      </div>
    <% end %>
  </div>

  <%= render 'shared/flashes' %>

</body>
</html>
