
<!DOCTYPE html>
<html>
<head>
  <title>Admin Profile</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      padding-top: 60px;
    }

    h1 {
      color: blue;
    }

    .listing-header{
      text-align: center;
      margin-top: 20px;
      font-size: 1.5em;
    }

    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 20px;
    }

    .header {
      position: absolute; 
      top: 0; 
      left: 0;
      right: 0;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .header .username {
      font-size: 1.5em;
      margin: 0;
      color: black;
      font-weight: Normal;
    }

    .header .left-section {
      display: flex;
      flex-direction: column; 
      align-items: flex-start;
    }
    .header .fullName {
      font-size: 1.5em;
      margin: 0;
      color: black;
      font-weight: Normal;
    }
    .header .right-section {
      display: flex;
      justify-content: flex-end;
    }

    .box {
      width: 150px;
      height: 150px;
      background-color: #A9A9A9;
      margin: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-direction: column; 
    }

    .box h2 {
      margin: 0;
      font-size: 1em; /* Adjust the size as needed */
    }
  
    .box h2, .box .listing_price {
      padding: 5px 0; /* Adds some padding to top and bottom */
    }

    button {
      padding: 10px 20px;
      background-color: purple;
      color: white;
      border: none;
      cursor: pointer;
    }
  </style>
</head>
<body>
  <div class="header">
  <div class="left-section">
  <h1 class="username">Username: <%= @user.username%> </h1>
  <h2 class="fullName"> Name:
  <%= @user.first_name%> 
  <%= @user.last_name%>
  </h2>
  </div>
  <div class="right-section">
  <%= button_to "Settings", account_settings_path, method: :get %>
  <%= button_to "+ ADD LISTING", listings_new_path, method: :get %>
  <%= button_to "Sign Out", logout_path, method: :delete %>
  </div>
  </div>

  <p class="notice"><%= flash[:notice] %></p>
  <p class="alert"><%= flash[:alert] %></p>
  <p class="error"><%= flash[:error] %></p>

  <h2 class:="listing-header">All Listings</h2>
  <div class="container">
    <% @listings.each do |listing| %>
      <div class="box">
        <%= render partial: 'listings/listing', locals: {listing: listing} %>
        <% if listing.status == "Unverified"%>
        <%= button_to "Verify Listings", listing_path(listing.id), method: :put%>
        <% end %>
      </div>
    <% end %>
  </div>


</body>
</html>
