<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>
  <%= stylesheet_link_tag 'index', media: 'all', 'data-turbolinks-track': 'reload' %>
  <style>
    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 20px;
    }

    .box {
      width: 150px;
      height: 150px;
      background-color: #A9A9A9;
      margin: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-direction: column; 
    }

    .box h2 {
      margin: 0;
      font-size: 1em; /* Adjust the size as needed */
    }
  
    .box h2, .box .listing_price {
      padding: 5px 0; /* Adds some padding to top and bottom */
    }

    button {
      padding: 10px 20px;
      color: black;
      border: none;
      cursor: pointer;
    }
  </style>
</head>
<body>
  <div class="header">
    <%= image_tag 'main-logo.png', alt: 'Quad Logo', class: 'logo' %>

    <div class="user-name">
      <h1>
        <%= @user.first_name.capitalize %> 
        <%= @user.last_name.capitalize %>
      </h1>
    </div>

    <div class="dropdown">
      <button class="dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= image_tag 'menu-icon.png', alt: 'Menu' %>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu">
        <%= button_to 'Create New Listing', listings_new_path, method: :get, class: 'dropdown-item' %>
        <%= button_to 'Account Settings', account_settings_path, method: :get, class: 'dropdown-item' %>
        <%= button_to 'Sign Out', logout_path, method: :delete, class: 'dropdown-item' %>
      </div>
    </div> 
  </div>

  <p class="alert"><%= flash[:alert] %></p>
  <p class="error"><%= flash[:error] %></p>

  <h2>Your Listings</h2> 
  <div class="container">
    <% @listings.each do |listing| %>
      <div class="box">
        <%= render partial: 'listings/listing', locals: {listing: listing} %>
      </div>
    <% end %>
  </div>

  <%= render 'shared/flashes' %>

</body>
</html>
