<!DOCTYPE html>
<html>
<head>
    <title>Create Account</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        .container {
            width: 40%;
            margin: auto;
            background: white;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        .logo {
            display: block;
            margin: 0 auto 20px;
            max-width: 150px;
            height: auto;
        }
        h2 {
            text-align: center;
        }
        form {
            display: flex;
            flex-direction: column;
        }
        label {
            margin-bottom: 5px;
        }
        input[type="text"],
        input[type="email"],
        input[type="tel"],
        input[type="number"],
        input[type="password"],
        input[type="file"] {
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
        }
        .required:after {
            content: " *";
            color: red;
        }
        input[type="submit"] {
            background-color: #4CAF50;
            color: white;
            padding: 15px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        input[type="submit"]:hover {
            background-color: #45a049;
        }
    </style>
</head>
<body>
    <div class="container">
        <%= image_tag 'main-logo.png', alt: 'Logo', class: 'logo' %>
        <h2>Create Account</h2>
        <%= form_with model: @user, url: profilepic_path, method: :post, local: true do |form| %>
            <%= form.label :first_name %>
            <%= form.text_field :first_name %>
            <%= form.label :last_name %>
            <%= form.text_field :last_name %>
            <%= form.label :email %>
            <%= form.email_field :email %>
            <%= form.label :username %>
            <%= form.text_field :username %>
            <%= form.label :password %>
            <%= form.password_field :password %>
            <%= form.label :password_confirmation, "Confirm Password" %>
            <%= form.password_field :password_confirmation %>
            <%= form.submit "Next" %>
          <% end %>
    </div>
</body>
</html>