<!DOCTYPE html>
<html>
<head>
    <title>Create Account</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        .container {
            width: 40%;
            margin: auto;
            background: white;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        .logo {
            display: block;
            margin: 0 auto 20px;
            max-width: 150px;
            height: auto;
        }
        h2 {
            text-align: center;
        }
        form {
            display: flex;
            flex-direction: column;
        }
        label {
            margin-bottom: 5px;
        }
        input[type="text"],
        input[type="email"],
        input[type="tel"],
        input[type="number"],
        input[type="password"],
        input[type="file"] {
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
        }
        .required:after {
            content: " *";
            color: red;
        }
        input[type="submit"] {
            background-color: #4CAF50;
            color: white;
            padding: 15px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        input[type="submit"]:hover {
            background-color: #45a049;
        }
    </style>
</head>
<body>
    <div class="container">
        <%= image_tag 'main-logo.png', alt: 'Logo', class: 'logo' %>
        <h2>Create Account</h2>

        <%= form_with model: @user, url:signup_path do |form| %>

            <%= form.label :first_name, class: 'required' %>
            <%= form.text_field :first_name, id: :user_first_name, required: true %>

            <%= form.label :last_name, class: 'required' %>
            <%= form.text_field :last_name, id: :user_last_name, required: true %>

            <%= form.label :email, class: 'required' %>
            <%= form.email_field :email, id: :user_email, required: true %>

            <%= form.label :phone_number, 'Phone:', class: 'required' %>
            <%= form.telephone_field :phone_number, id: :user_phone_number, required: true %>

            <%= form.label :username, class: 'required' %>
            <%= form.text_field :username, id: :user_username, required: true %>

            <%= form.label :password, class: 'required' %>
            <%= form.password_field :password, id: :user_password, required: true %>

            <%= form.label :password_confirmation, 'Confirm Password:', class: 'required' %>
            <%= form.password_field :password_confirmation, id: :user_password, required: true %>

            <%= form.submit "Sign Up" %>
        <% end %>
    </div>
</body>
</html>
